@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Poppins:wght@300&family=Roboto&display=swap');

body {
    font-size: 15pt;
    margin: 0;
    padding: 0;
    background-image: url("https://source.unsplash.com/random/?forest,night");
    font-family: 'Playpen Sans', cursive;
    color: white;
    /*font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;*/
}

.navigation_bar {
  display: flex;
  padding-top: 15px;
  border-bottom: 1px solid #CDCFDE9C;
  position: fixed;
  padding-right: 15px;
  backdrop-filter: blur(20px);
}

.navigation_bar img{
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.navigation_bar #search_icon{
  width: 25px;
  height: 25px;
  position: absolute;
  margin-top: 2px;
  margin-left: 308px;
}

.navigation_bar h2{
  margin-top: -10px;
  margin-left: 15px;
  user-select: none;
}

.navigation_bar input{
  height: 30px;
  margin-top: -2px;
  margin-left: 5px;
  background: none;
  border: 1px solid #E7E9FFC4;
  outline: none;
  backdrop-filter: blur(20px);
  border-radius: 20px;
  color: white;
  transition: 0.5s;
}

.main{
  background: #5E5E5E8F;
  padding: 5px;
  border-radius: 20px;
}
.main img{
  width: 120px;
  height: 188px;
  border-radius: 20px;
}
.main .mainE{
  margin: 5px;
  display: flex
}
.main p{
  font-size: 10px;
  margin: 5px;
  margin-top: 20px;
}
.main h4{
  margin-left: 10px;
  margin-top: 10px;
}
.main button {
  height: 30px;
  background: none;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  margin-left: 5px;
  user-select: none;
}
button {
  height: 30px;
  background: none;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  margin-left: 5px;
  user-select: none;
}


.movie_list .top_rated img{
  width: 100px;
  margin: 6px;
  border-radius: 20px;

}


.movie_list .top_rated{
  border-radius: 20px;
  background: #5E5E5E8F;
}


.movie_list .top_rated h3{
  margin-left: 10px;
}

#menu{
  width: 230px;
  height: 300px;
  backdrop-filter: blur(20px);
  border: 1px solid #B9B9B99C;
  position: fixed;
  margin-top: -143vh;
  transition: 0.5s;
}

#menu h1{
  position: absolute;
  margin-top: -15px;
  margin-left: 200px
}

#menu a{
  margin: 5px;
  text-decoration: none;
  color: white;
  font-size: 15px;
}


.ds{
  margin-left: -300px;
}